.seat-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  margin: 4rem 1rem 1rem 1rem;
}

.seat-selection {
  display: inline-grid;
  grid-template-columns: repeat(2, 2fr 80px);
  gap: 10px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgb(28, 222, 108) 0px 3px 8px;
}

.seat > span {
  margin-left: 25px;
  cursor: pointer;
}

/* .seat > span {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2px;
  border-radius: 6px;
  border: 1px solid rgb(13, 13, 13);
} */

.seat-details {
  width: 66%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.available {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ava-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.ava-container span {
  margin: 5px;
}

.ava {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2px;
  border-radius: 6px;
  border: 1px solid rgb(13, 13, 13);
}
.bkd {
  background-color: rgb(86, 84, 84);
  color: white;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid rgb(69, 68, 68);
}
.sel {
  background-color: crimson;
  color: white;
  padding: 2px;
  border-radius: 6px;
  border: 1px solid crimson;
}

.location-search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.location-search img {
  width: 20px;
  height: 20px;
}

.location-search > input {
  height: 36px;
  margin: 10px;
}

.location-search > button {
  background-color: crimson;
  height: 36px;
  border-radius: 6px;
  color: white;
  width: 120px;
  font-weight: bold;
}

.booking-details > h4 {
  margin: 5px;
  font-weight: 500;
}

.booking-details > h4 > span {
  font-size: 14px;
  font-weight: 400;
}

.check-out {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.check-out > button {
  background-color: crimson;
  width: 150px;
  height: 38px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 2rem;
}

.terms-box > span {
  font-size: 14px;
  font-weight: 400;
}

.terms-box > input {
  margin: 5px;
}

.search-container {
  position: absolute;
  height: 100px;
  width: 220px;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  list-style-type: none;
  top: 250px;
  left: 380px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.search-container > li {
  margin: 2px;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.search-container > li:hover {
  background-color: rgb(227, 227, 227);
}

@media only screen and (max-width: 600px) {
 .seat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0px;
 }

 .seat-selection {
  display: grid;
  margin-top: 6rem;
  grid-template-columns: repeat(2, 2fr 90px);
  gap: 10px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: rgb(198, 198, 198) 0px 3px 8px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}
 .seat-details {
    width: 85%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    
 }
 .ava-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
 }
 .available {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .ava-container > h4 {
   margin: 2px;
 }
 .location-search {
  display: flex;
  flex-direction: column;
  width: 100%;

 }
 .location-search > input {
  width: 100%;
 }
 .table-container {
  overflow: auto;
 }
 .search-container {
  position: absolute;
  height: 100px;
  width: 80%;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
  list-style-type: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  left: auto;
  top: 175%;
}
}
