.search-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 254, 255);
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 1rem;
    border-radius: 20px;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 2rem;
    background-color: #f7fafc;
}

.search-card-container > img {
    width: 25px;
    height: 25px;
}
.search-card-container > input {
    height: 42px;
    width: 300px;
    outline: none;
    border: 1px solid rgb(232, 232, 232);
    padding-left: 15px;
    margin: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.search-card-container > button {
    border: none;
    background-color: crimson;
    width: 120px;
    height: 40px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    margin: 5px;
}